body{
    margin: 0 15% 0 15%;
}

p {
    font-family: 'Kufam', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lalezar', cursive;
}

@import 'layout/header';
@import 'layout/index';
@import 'layout/product';
@import 'layout/cart';
@import 'layout/footer';
@import 'layout/animation';
@import 'layout/mediaq';
@import 'layout/keyframes';