#product{
    #productName{
        width: 30%;
        margin-bottom: auto!important;
        margin-top: auto;
    }
    #productQuantity{
        margin-bottom: auto;
        margin-top: auto;
        width: 10%;
        text-align: center;
    }
    #productLense{
        width: 20%;
        margin-bottom: auto;
        margin-top: auto;
    }
    #productPrice{
        margin-bottom: auto;
        margin-top: auto;
        width: 20%;
    }
}