#product{
    background-color: #f3e9f1;
    #productName{
        width: 30%;
        margin-bottom: auto!important;
        margin-top: auto;
    }
    #productQuantity{
        margin-bottom: auto;
        margin-top: auto;
        width: 10%;
        text-align: center;
    }
    #productLense{
        width: 20%;
        margin-bottom: auto;
        margin-top: auto;
    }
    #productPrice{
        margin-bottom: auto;
        margin-top: auto;
        width: 20%;
    } 
}
body > section:nth-child(2) > div:nth-child(2){
    margin-right: 75px;
    margin-top: 30px;
    margin-bottom: 30px;

}

#emptierBtn{
    background-color: #f3e9f1;
    width: 20%;
    margin-right: 0;
    margin-left: auto;
    justify-content: center;
}

form{
    label{
        text-align: center;
        font-weight: bold;
        background-color: #b0b0b0;
    }
    input{
        border: none;
        text-align: center;
    }
    textarea{
        border: none;
        text-align: center;
    }
}
#btn_Form{
    text-align: center;
}