@keyframes back{
    0% {
        top:0;
        opacity: 1;
    }
    50% {
        top:0;
        opacity: 1;
    }
    99%{
        top: 0;
        opacity: 0;
    }
    100%{
        top: 100%;
        opacity: 0;
    }
}

@keyframes i-spin{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes blur{
    0%{
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
    }
    100%{
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
    }
}